.example-appear {
  transform: translateX(0);
}

.example-appear.example-appear-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in;
}
.MarqueeContent {
  display: flex;
  flex-direction: row;
}

.MarqueeContent > * {
  flex: 0 0 auto;
}
